<p id="notice"><%= notice %></p>

<h1>Listing Cpus</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Name</th>
      <th>Model</th>
      <th>Socket</th>
      <th>Cores</th>
      <th>Threads</th>
      <th>Operating frequency</th>
      <th>Max frequency</th>
      <th>L2 cache</th>
      <th>L3 cache</th>
      <th>Tech node</th>
      <th>Supports 64bits</th>
      <th>Supports hyper threading</th>
      <th>Supports virtualization</th>
      <th>Integrated graphics</th>
      <th>Graphics base frequency</th>
      <th>Graphics max frequency</th>
      <th>Pcie rev</th>
      <th>Max pcie lanes</th>
      <th>Cooling device</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cpus.each do |cpu| %>
      <tr>
	<td><%= cpu.price %></td>
        <td><%= cpu.name %></td>
        <td><%= cpu.model %></td>
        <td><%= cpu.socket %></td>
        <td><%= cpu.cores %></td>
        <td><%= cpu.threads %></td>
        <td><%= cpu.operating_frequency %></td>
        <td><%= cpu.max_frequency %></td>
        <td><%= cpu.l2_cache %></td>
        <td><%= cpu.l3_cache %></td>
        <td><%= cpu.tech_node %></td>
        <td><%= cpu.supports_64bits %></td>
        <td><%= cpu.supports_hyper_threading %></td>
        <td><%= cpu.supports_virtualization %></td>
        <td><%= cpu.integrated_graphics %></td>
        <td><%= cpu.graphics_base_frequency %></td>
        <td><%= cpu.graphics_max_frequency %></td>
        <td><%= cpu.pcie_rev %></td>
        <td><%= cpu.max_pcie_lanes %></td>
        <td><%= cpu.cooling_device %></td>
        <td><%= link_to 'Show', cpu %></td>
        <td><%= link_to 'Edit', edit_cpu_path(cpu) %></td>
        <td><%= link_to 'Destroy', cpu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!--
<%= high_chart("some_id", @chart) %>
$('#container').highcharts({
new Highcharts.Chart({
renderTo: "chart1"


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="file://localhost/Users/henryorosco/Downloads/jquery-ujs-master/src/rails.js"></script>
<script src="file://localhost/Users/henryorosco/Downloads/Highcharts-4.1.5/js/highcharts.js"></script>
<script src="file://localhost/Users/henryorosco/Downloads/Highcharts-4.1.5/js/modules/exporting.js"></script>
-->
<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#container').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Historic and Estimated Worldwide Population Growth by Region'
        },
        subtitle: {
            text: 'Source: Wikipedia.org'
        },
        xAxis: {
            categories: ['1750', '1800', '1850', '1900', '1950', '1999', '2050'],
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: 'Billions'
            },
            labels: {
                formatter: function () {
                    return this.value / 1000;
                }
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' millions'
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        series: [{
            name: 'Asia',
            data: [502, 635, 809, 947, 1402, 3634, 5268]
        }, {
            name: 'Africa',
            data: [106, 107, 111, 133, 221, 767, 1766]
        }, {
            name: 'Europe',
            data: [163, 203, 276, 408, 547, 729, 628]
        }, {
            name: 'America',
            data: [18, 31, 54, 156, 339, 818, 1201]
        }, {
            name: 'Oceania',
            data: [2, 2, 2, 6, 13, 30, 46]
        }]
    });
  });
<!--(JQuery);-->
</script>

<%= link_to 'New Cpu', new_cpu_path %>
<!--
<img id="myImage" src="function()" width="100" height="180">
-->

<div id="container" style="width:560px; height:300px;"></div>
