<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @gpu.price %>
</p>

<p>
  <strong>Name:</strong>
  <%= @gpu.name %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @gpu.maker %>
</p>

<p>
  <strong>Model:</strong>
  <%= @gpu.model %>
</p>

<p>
  <strong>Interface:</strong>
  <%= @gpu.interface %>
</p>

<p>
  <strong>Gpu ver:</strong>
  <%= @gpu.gpu_ver %>
</p>

<p>
  <strong>Core clock:</strong>
  <%= @gpu.core_clock %>
</p>

<p>
  <strong>Boost clock:</strong>
  <%= @gpu.boost_clock %>
</p>

<p>
  <strong>Cuda cores:</strong>
  <%= @gpu.cuda_cores %>
</p>

<p>
  <strong>Mem clock:</strong>
  <%= @gpu.mem_clock %>
</p>

<p>
  <strong>Memory size:</strong>
  <%= @gpu.memory_size %>
</p>

<p>
  <strong>Mem interface:</strong>
  <%= @gpu.mem_interface %>
</p>

<p>
  <strong>Mem type:</strong>
  <%= @gpu.mem_type %>
</p>

<p>
  <strong>Directx support:</strong>
  <%= @gpu.directx_support %>
</p>

<p>
  <strong>Opengl support:</strong>
  <%= @gpu.opengl_support %>
</p>

<p>
  <strong>Hdmi ports:</strong>
  <%= @gpu.hdmi_ports %>
</p>

<p>
  <strong>Dvi i ports:</strong>
  <%= @gpu.dvi_i_ports %>
</p>

<p>
  <strong>Dvi d ports:</strong>
  <%= @gpu.dvi_d_ports %>
</p>

<p>
  <strong>Max resolution:</strong>
  <%= @gpu.max_resolution %>
</p>

<p>
  <strong>Sli support:</strong>
  <%= @gpu.sli_support %>
</p>

<p>
  <strong>Cooler:</strong>
  <%= @gpu.cooler %>
</p>

<p>
  <strong>System reqs:</strong>
  <%= @gpu.system_reqs %>
</p>

<%= link_to 'Edit', edit_gpu_path(@gpu) %> |
<%= link_to 'Back', gpus_path %>
